html {
    font-family: $fontFamily;
}

header {
    display: flex;
    padding: 2rem 0;

    ul {
        list-style: none;
        display: flex;

        li {
            padding: 0 1rem;
            font-size: 1rem;
            font-weight: $fontWeightBold;
        }
    }
}

footer {
    padding: 120px 0px 50px;

    .footer-wrapper {
        display: flex;
    }
}

